
<div class="page">
    <h1>Sign In</h1>
    <div class="info"><p>Don't have an account?<a href="/signup" class="id1">Sign Up</a></p></div>
    <form>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password">
    </form>
    <a href="#" id="forgot" class="id3">Forgot Your Password</a><br>
    <input class="id2" type="button" routerLink="/contactform" value="Sign In">
    
</div>