
<div class="first-page">
    <h1>Sign Up</h1>
    <div class="info"><p>Already have an account?<a href="/signin" class="id1"> Sign In</a></p></div>
    <form>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="secret">Secret</label><br>
        <input type="text" id="secret" name="secret">
    </form>
    <a href="#" id="forgot" class="id3">Forgot Your Password</a><br>
    <input class="id2" type="button" value="Sign Up"><br>
    <div class="m"><p>By Clicking the 'sign-up' Button,you are creating an<br>
        account,and you agree to the terms of use.</p></div>
    
</div>